<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading panel-title" style="background-color:#2e87f5">Registered Activities - {{ timePeriod }}</div>
            <!-- Table -->
            <table class="table" *ngIf="classroom">
                <thead>
                    <tr>
                        <th>Activity Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <!--<tr>
                    <td>
                        classroom: {{classroom}}
                    </td>
                    <td *ngIf="classroom">
                        classroom: {{classroom.activity}}
                    </td>
                </tr>-->
                <tr *ngFor="let act of (classroom.activity | filteredActivities:month)">
                    <td>{{ act.name }}</td>
                    <td>{{ act.date | date:'fullDate' }}</td>
                </tr>
            </table>
            <div *ngIf="classroom == null || ((classroom.activity | filteredActivities:month).length == 0)">No activities</div>
        </div>
        <div><a [routerLink]="['/activities']">Back to Activities</a> </div>
    </div>
</div>
